%div.jumbotron
	%h2 TaskMeister! Free and Easy
	%br
	%h4 Trusted by Millions. TaskMeister is the best online task management app!
	%br
	= link_to "Sign Up", new_user_registration_path, class: 'btn btn-danger'